/// main Search///

#mainSearchInput {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
}

#mainSearchInput::placeholder {
  font-size: 1.1rem;
}

#seachIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 100;
}

.searchBar {
  position: relative;
}

///  display of input ///
#searchTags {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#ingredientsTags > div,
#appareilTags > div,
#ustensilesTags > div {
  margin: 0 1rem 0.5rem 0;
  display: inline-block;
}

#ingredientsTags > div > button,
#appareilTags > div > button,
#ustensilesTags > div > button {
  padding: 0.4rem 3rem 0.4rem 1rem;
  pointer-events: none;
}
.selectedTag {
  position: relative;
}

.closeTag {
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  font-size: 0.9rem;
  padding: 0.1rem 4px 0 4px;
  cursor: pointer !important;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 0.9rem;
}

/// secondarySearch ///

#ingredientsSearch,
#appareilSearch,
#ustensilesSearch {
  width: 12rem;
  margin-right: 1rem;
}

#ingredientsSearch:focus-within,
#appareilSearch:focus-within,
#ustensilesSearch:focus-within {
  width: 30rem;
}

#ingredientsSearchList,
#appareilSearchList,
#ustensilesSearchList {
  transform: translate3d(0px, 36px, 0px) !important;
  column-count: 3;
}

#ingredients::placeholder,
#appareil::placeholder,
#ustensiles::placeholder {
  color: white;
  opacity: 1;
}
.dropdown-menu li, .dropdown-menu li a {
  white-space: normal;
  float: left;
  width: 100%;
  height: auto;
  word-wrap: break-word;
}

/// recipes section ///

.card {
  cursor: pointer;
  box-shadow: 3px 3px 5px rgb(131, 131, 131);
}

.card:hover{
  transform: scale(1.05)
}

.card-body {
  height: 14rem;
}

.card-title {
  font-size: 1.2rem;
  flex-wrap: wrap;
  max-width: 250px;
}

.repipeItem {
  margin: 1rem;
  position: relative;
}

.recipeIngredients {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeTimeSec i {
  font-size: 1.3rem;
}

.recipeTimeSec h5 {
  margin-left: 0.5rem;
  font-weight: bold;
  
}

.recipeIngredients li {
  font-size: 0.8rem;
  
}

.recipeDescription {
  position: relative;
  height: 9rem;
}

.card-description {
  font-size: 0.85rem;
  line-height: 100%;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeMessage {
  width: 90%;
  display: none;
  min-height: 100vh;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  align-items: flex-start;
}

.recipeMessage p {
  font-size: 2rem;
}


